$sp: "screen and (max-width:640px)";
$tb: "screen and (min-width:641px) and (max-width:960px)";
$pc: "screen and (min-width:961px) and (max-width:1440px)";
$lpc: "screen and (min-width:1441px)";

#artist {
  letter-spacing: -.40em; /* for inline-block */
  .artist-artist {
    display: inline-block; /* for inline-block */
    position: relative;
    letter-spacing: normal; /* for inline-block */
    width: 320px;
    height: 320px;
    vertical-align: bottom; /* for inline-block */
    .artist-label {
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      z-index: 2;
      border-top: 45px solid;
      border-right: 45px solid transparent;
      &:after {
        display: block;
        font-size: 0.9em;
        padding: 4px;
        margin: 4px 0;
        width: 120px;
        text-align: center;
      }
      &.management {
        border-top-color: #2D8BC9;
        &:after {
          content: "Management";
          background-color: #2D8BC9;
        }
      }
      &.release {
        border-top-color: #7ED957;
        &:after {
          content: "Release";
          background-color: #7ED957;
        }
      }
    }
    p {
      -webkit-margin-before: 0;
      -webkit-margin-after: 0;
      width: 320px;
      height: 320px;
    }
    .artist-img {
      width: 290px;
      height: 290px;
      margin: 14px;
      border: 1px solid #000;
      opacity: 0.7;
      cursor: pointer;
      &:hover {
        opacity: 1.0;
      }
    }
    .artist-name {
      position: absolute;
      z-index: 3;
      width: 160px;
      top: 0;
      font-size: 1.2em;
      line-height: 1em;
      color: #fff;
      padding: 4px;
    }
  }
}
